<div class="item">

    <div class="header">
        <%= link_to item.title, item %>
    </div>

    <div class="picture">
      <%= image_tag item.picture.url(:medium) %>
    </div>

    <div class="description">
        <%= item.description %>
    </div>

    <div class="price">
        <%= number_to_currency(item.price) %>
    </div>

    <div class="button">
      <%= button_to "Add To Cart", cart_path(item_id: item) %> </p>
    </div>

</div>
