<!DOCTYPE html>
<html>
<head>
  <title>DinnerDash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="user_nav">
    <% if current_user %>
      You are logged in as:
      <% if current_user.display_name %>
        <%= current_user.display_name %>.
        <%= link_to "Logout", logout_path %>
      <% elsif %>
        <%=current_user.full_name %>.
        <%= link_to "Logout", logout_path %>
      <% end %>
    <% else %>
      <%= link_to "User Login", login_path %>
    <% end %>
    <br />
    <hl />
  </div>

<p class="flash">
  <%= flash.notice %>
</p>

<div id="categories_sidebar">
  <ul>
    <% Category.all.each do |category| %>
      <li> <%= link_to category.title, category_path(category) %> </li>
    <% end %>
  </ul>
</div>

<li><a href="/orders">View Past Orders</a></li>
<li><a href="/cart">View Cart</a></li>

<%= yield %>

</body>
</html>
